<div class="content detail">
	<h1><%= @job.job_title %></h1>

	<p><i class="glyphicon glyphicon-map-marker"></i> &nbsp; <%= @job.job_location %></p>

	<h3>Job Description</h3>
	<p><%= @job.job_description %></p>

<% if @job.job_responsibilities != '' %>
	<h3>Job Responsibilities</h3>
	<p><%= @job.job_responsibilities %></p>
<% end %>

<% if @job.job_responsibilities != '' %>
	<h3>Job Requirements</h3>
	<p><%= @job.job_requirements %></p>
<% end %>
	
	<h3>Specialties</h3>
	<p><%= @job.specialties %></p>

	<h3>Job Level</h3>
	<p><%= @job.job_level %></p>

	<h3 class="bright">How to Apply</h3>
	<p><%= @job.how_to_apply %></p>

	<aside>
		<h3><%= @job.company %></h3>
		<h4><a href="http://<%= @job.company_website %>" target="_blank"><%= @job.company_website %></a></h4>
		<p><%= @job.company_description %></p>
		<%= image_tag @job.photo, size: "100x100" %>

	</aside>

<br /><br /><br />

</div>